@import "variables.scss";
@import "layout/_footer.scss";
@import "layout/_header.scss";
@import "components/_filter.scss";
@import "components/_expense-list.scss";
@import "components/_expense-form.scss";
@import "mixin";

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
select {
  // margin: 0;
  // padding: 5px;
  // border: 0px solid #ccc;
  // border-radius: 5px;
  // box-sizing: border-box;
  // height: 35px;
  @include input;
}

.main-page {
  display: grid;
  grid-template-columns: minmax(260px, 300px) 3.5fr;
  grid-column-gap: 20px;
  text-align: center;
  height: 100vh;
  background: $background;

  .nav {
    background: white;
    box-shadow: $shadow;
    padding: 20px;
  }

  .main {
    display: grid;
    grid-template-rows: 50px auto;
    padding: 30px 30px 30px 10px;
    .expense-list {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
    }
  }
}
