@import "variables.scss";

@mixin btn-dark {
  padding: 10px 15px;
  border: 0px solid #ccc;
  border-radius: 18px;
  background-color: $primaryColor;
  color: $light;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  height: 35px;
}

@mixin btn-light {
  padding: 10px 15px;
  border: 1px solid $primaryColor;
  border-radius: 18px;
  background-color: $light;
  color: $primaryColor;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  height: 35px;
}

@mixin primary-font {
  color: $primaryFont;
  font-size: 12px;
}

@mixin input {
  padding: 5px;
  border: 0px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
}

@mixin btn-selected {
  padding: 10px 10px;
  border: 0px solid #ccc;
  border-radius: 5px;
  background-color: $light;
  color: $primaryFont;
  height: 35px;
}
