$primaryColor: #ffb27a;
$secondaryColor: #64a15e;
$primaryFont: #777;
$secondaryFont: #ccc;
$light: white;
$navBackground: rgb(240, 240, 240);
$background: #f5f6fa;
$shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
