$primaryColor: #ffb27a;
$primaryColorLight: #ffe0ad;
$primaryColorHover: #fda362;
$primaryColorActive: #9e643a;
$secondaryColor: #64a15e;
$secondaryColorLight: #caecc7;
$primaryFont: #777;
$PrimaryFontSize: 0.75rem;
$secondaryFont: #ccc;
$light: white;
$navBackground: rgb(240, 240, 240);
$background: #f5f6fa;
$shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
$shadowActive: 2px 2px 3px rgba(0, 0, 0, 0.2);
