@import "../mixin.scss";

.delete-records {
  grid-column: 11/13;
  align-self: center;
  input {
    @include btn-light;
  }

  input:hover{
    @include btn-light-hover;
  }

  input:active{
    @include btn-light-active;
  }
}
