.expense-table {
  grid-column: 1/13;
  grid-row-start: 2;
  grid-auto-rows: auto;
  table {
    //border-bottom: 1px solid black;
    border-collapse: collapse;
    color: $primaryFont;
    width: 100%;
    box-shadow: $shadow;
    border-radius: 20px 20px 20px 20px;

    th,
    td {
      height: 30px;
      border: 0px solid rgb(145, 145, 145);
      padding: 8px;
      min-width: 20px;
    }

    .table-footer {
      border-radius: 0 0 20px 20px;
      background-color: $primaryColorLight;
    }

    th {
      background-color: $primaryColorLight;
      color: $primaryFont;
      cursor: pointer;
    }

    .left-th {
      border-radius: 20px 0 0 0;
    }
    .right-th {
      border-radius: 0 20px 0 0;
    }

    tr:nth-child(even):not(th) {
      background-color: $background;
    }

    tr:nth-child(odd):not(th) {
      background-color: $light;
    }

    tr:hover:not(th) {
      background-color: #d4e6ec;
    }
  }

  .loading{
    height: 150px;
    background-color: $background;
  }

  .faCaretDown {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
  }
}
