@import "../variables.scss";
@import "../mixin.scss";

.expense-form {
  margin: 0;

  form {
    display: grid;
    grid-template-columns: repeat(6 1fr);
    grid-gap: 20px;
    .form-group {
      margin: 0;
    }
    input select {
      @include input;
    }
    .btn-add-expense {
      @include btn-dark;
    }
  }
}
