@import "../variables.scss";
@import "../mixin.scss";

.expense-form {
  margin: 0;

  form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    align-items: center;
    .form-group {
      .form-control {
        @include input;
        width: 100%;
      }
    }

    .btn-add-expense {
      @include btn-dark;
    }
  }
}
