.expense-list {
  table {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    color: $primaryColor;
    width: 100%;

    th,
    td {
      height: 30px;
      border: 0px solid rgb(145, 145, 145);
      padding: 8px;
      min-width: 20px;
    }

    th {
      background-color: $primaryColor;
      color: $secondaryColor;
      cursor: pointer;
    }

    tr:nth-child(even):not(th) {
      background-color: #e0e0e0;
    }

    tr:hover:not(th) {
      background-color: #d4e6ec;
    }
  }

  .faCaretDown {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
  }
}
