.expense-list {
  table {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    color: $primaryColor;
    width: 100%;

    th,
    td {
      height: 30px;
      border: 0px solid rgb(145, 145, 145);
  padding: 8px;
    }
    
    th{
        background-color: $primaryColor;
        color: $secondaryColor;
    }

    tr:nth-child(even):not(th) {
      background-color: #e0e0e0;
    }

    tr:hover:not(th) {
      background-color: #d4e6ec;
    }
  }
}
