@import "../mixin.scss";

.filter {
  display: flex;
  flex-direction: column;
  background-color: $background;
  font-size: 10px;
  padding: 20px;
  border-radius: 20px;

  .filter-date-range {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-bottom: 2em;

    div {
      display: flex;
      align-items: baseline;
      align-items: stretch;
      label {
        @include primary-font;
        text-align: center;
        align-self: center;
        // position: relative;
        // left: 1em;
        // top: 30%;
      }
      // input[type="date"] {
      //   position: absolute;
      //   right: 0;
      //   top: 0;
      // }

      span {
        color: $primaryColor;
        font-size: 1.2em;
        margin: 0 3px;
      }
    }
  }

  .filter-categories {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;

    div {
      height: 1.5em;
      border-radius: 5px;
      background: $light;
      color: $primaryFont;
      font-size: 1.2em;
      text-align: center;
      margin: 0.5em;
      padding: 0.5em;
    }
  }

  .filter-amount-range {
    display: grid;
    height: fit-content;

    label {
      @include primary-font;
      text-align: left;
    }

    div {
      align-items: stretch;

      ::placeholder {
        color: $secondaryFont;
        text-align: right;
      }

      input[type="text"] {
        width: 40%;
      }

      span {
        @include primary-font;
        margin: 0 5px;
      }
    }
  }

  .filter-btn {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;

    .btn-apply-filter {
      @include btn-dark;
    }
    .btn-reset-filter {
      @include btn-light;
    }
  }
}
