@import "../mixin.scss";

.filter {
  display: flex;
  flex-direction: column;
  background-color: $background;
  font-size: 10px;
  padding: 20px;
  border-radius: 20px;

  .filter-date-range {
    display: grid;
    grid-template-rows: repeat(4 1fr);
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 20px;

    label {
      @include primary-font;
      grid-column: 1/2;
      text-align: left;
    }
    input[type="date"] {
      grid-column: 2/5;
    }

    span {
      color: $primaryColor;
      font-size: 1.2em;
      margin: 0 3px;
    }
  }

  .filter-categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    div {
      height: 1.5em;
      border-radius: 5px;
      background: $light;
      color: $primaryFont;
      font-size: 1.2em;
      text-align: center;
      margin: 0.5em;
      padding: 0.5em;
    }
  }

  .filter-amount-range {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    margin: 0 0 20px 0;
    justify-content: space-evenly;

    ::placeholder {
      color: $secondaryFont;
      text-align: right;
    }

    span {
      @include primary-font;
      margin: 0 5px;
    }
  }

  .filter-btn {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;

    .btn-apply-filter {
      @include btn-dark;
    }
    .btn-reset-filter {
      @include btn-light;
    }
  }
}
