@import "../mixin.scss";

.filter {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(auto-fit, 1fr);
  background-color: $background;
  height: 50vh;
  padding: 20px;
  border-radius: 20px;

  .filter-date-range {
    display: grid;
    grid-template-columns: auto;

    label {
      @include primaryFont;
      text-align: left;
    }

    div {
      align-items: stretch;

      input[type="date"] {
        width: 45%;
      }

      span {
        color: $primaryColor;
        font-size: 0.6rem;
        margin: 0 3px;
      }
    }
  }

  .filter-amount-range {
    display: grid;
    grid-template-columns: auto;

    label {
      @include primaryFont;
      text-align: left;
    }

    div {
      align-items: stretch;

      input[type="text"] {
        width: 45%;
      }

      span {
        color: $primaryColor;
        font-size: 0.6rem;
        margin: 0 3px;
      }
    }
  }

  .filter-btn {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;

    .btn-apply-filter {
      @include btn-dark;
    }
    .btn-reset-filter {
      @include btn-light;
    }
  }
}
