@import "../variables.scss";

.quick-search {
  grid-column: 1/4;
  justify-self: stretch;
  position: relative;

  input {
    margin: 0;
    width: 100%;
  }
  .search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $secondaryFont;
  }
}
