@import "../variables.scss";

.user {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 20px;
  align-items: center;
  .user-avatar {
    height: 100px;
    width: 100px !important;
    border-radius: 50%;
    background: $background;
    align-items: center;
  }
  h2 {
    color: $primaryFont;
    font-size: 1rem;
  }
}
